* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #35424a;
    border-bottom: 2px solid orangered;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.nav-fonts,
.logo {
    font-size: 30px;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    color: white;
}

.logo {
    color: orangered;
    font-weight: bold;
}

.nav-links {
    font-size: 14px;
    display: flex;
    gap: 20px;
}

li {
    list-style: none;
}

li>a {
    text-decoration: none;
}

.active-link {
    color: orangered;
    font-weight: bold;
}

a,
.sec1-headding,
.sec1-desc,
.newsletter-heading {
    color: white;
}

.showcase {
    min-height: 400px;
    background-image: url('../src/Images/showcase.jpg');
    color: white;
    text-align: center;
    background-size: cover;
}

.sec1-headding {
    padding-top: 200px;
    font-size: 55px;
}

.sec1-desc {
    margin-top: 20px;
    line-height: 22px;
}

.newsletter {
    background-color: #35424a;
    padding: 30px 0;
}

.newsletter-heading {
    font-size: 22.5px;
}

.search-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-box>input {
    padding: 5px;
    border: none;
}

.Subscribe-btn {
    background-color: orangered;
    color: white;
    border: none;
    padding: 5px;
}

.courses {
    padding: 20px;
}

.courses-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
}

.box {
    width: 300px;
    text-align: center;
}

.box>h3 {
    margin: 10px 0;
}

.box>p {
    font-size: 13px;
    line-height: 20px;
}

.footer {
    background-color: orangered;
    color: white;
    padding: 20px 0;
    text-align: center;
}

@media (max-width : 768px) {
    .nav-items {
        flex-direction: column;
        margin: 15px 0;
        font-size: 30px;
    }

    .nav-fonts,
    .logo {
        font-size: 30px;
        margin: 15px 0;
    }

    .sec1-headding {
        padding-top: 50px;
        margin-bottom: 15px;
    }

    .showcase {
        min-height: 300px;
        padding-bottom: 10px;
    }
    .search-sec {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .input-box {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
    
.input-box>input{
    padding: 10px;
}
.Subscribe-btn{
    padding: 10px;
}
.courses-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}
}