* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Tahoma', 'Verdana', 'sans-serif';

}

.container {
    width: 85%;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.left-navlinks>img {
    cursor: pointer;
}

.left-navlinks,
.right-navlinks {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-items {
    display: flex;
    gap: 20px;
}

ul>li {
    list-style: none;
    cursor: pointer;
}

.nav-sec {
    background-image: url('Src/Images/slide1-large.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.sec-heading {
    padding-top: 260px;
    margin-bottom: 15px;
}

.black-btn {
    margin: 15px 0;
    padding: 8px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.black-btn>i {
    color: white;
}

.profile {
    border: 1px solid black;
    padding: 8px;
    border-radius: 50%;
}

.fa-solid {
    color: black;
}

.cards-sec {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 20px 0 40px 0;
    grid-gap: 20px;
}

.card>img,
.shop-card>img {
    width: 100%;
}

.card-heading {
    margin: 5px 0;
}

.card-info {
    margin-bottom: 7px;
}

.card>button,
.shop-card>button {
    border: none;
    background-color: transparent;
    font-size: 15px;
    color: #0067b8;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
}

.learn-btn {
    color: #0067b8;
}

.card>button:hover,
.shop-card>button:hover {
    padding-right: 10px;
    transition: padding 1s;
}

.banner-sec {
    margin: 30px 0;
    position: relative;
}

.banner-info {
    width: 430px;
    position: absolute;
    top: 20%;
    left: 5%;
}

.banner-info>p {
    margin: 10px 0 20px 0;
}

.banner-sec>img {
    width: 100%;
}

.shop-card-sec {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.shop-card>h3 {
    margin-top: 20px;
}

.shop-card>p {
    margin: 5px 0 10px 0;
}

.carbon-sec {
    position: relative;
    margin: 20px 0;
}

.carbon-sec>img {
    width: 100%;
}

.carbon-typography>p {
    margin: 10px 0 20px 0;
}

.carbon-typography>button {
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

.carbon-typography {
    position: absolute;
    top: 20%;
    left: 7%;
    width: 50%;
    color: white;
}

.follow-sec {
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer-sec {
    margin-top: 20px;
    background-color: #f2f2f2;
    padding: 25px 0;
}

.footer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 20px;
}

.footer-div {
    display: flex;
    flex-direction: column;
}

.footer-div {
    font-size: 14px;
}

.footer-links>li {
    list-style: none;
    line-height: 40px;
}

li>a {
    color: black;
    font-size: 12px;
    text-decoration: none;
}

.footer-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.footer-inner {
    font-size: 12px;
}

.footer-inner .inner-footer-links{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-left: auto;
}