* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    height: 100vh;
    background-color: lightgreen;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 100%;
    max-width: 600px;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 10px;
    border-radius: 10px;
}

.form-grp {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
    margin: 0 auto;
}

.tittle {
    text-align: center;
    margin: 15px 0;
}

.form input,
button {
    padding: 8px;
    border-radius: 7px;
    width: 100%;
    margin: auto;
    border: none;
}

button {
    background-color: blueviolet;
    margin-bottom: 20px;
}

label,
button {
    color: aliceblue;
}