* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.vdo-Banner {
    width: 100%;
    height: 70vh;
    position: relative;
    top: 0;
    left: 0;
}

.vdo-Banner>video {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.header-sec>.btn-grp {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 14px;
    font-weight: 500;
}

.btn-grp>li:nth-child(1) {
    padding-right: 10px;
    border-right: 3px solid white;
}

.header-sec>.btn-grp,
.nav-links {
    cursor: pointer;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    color: white;
    background: transparent;
    position: absolute;
    top: 5%;
    left: 0;
    font-weight: 600;
    cursor: pointer;
}

.logo-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.logo-sec>img {
    display: block;
    width: 100%;
    max-width: 60px;
    object-fit: cover;
    background-color: aliceblue;
    border-radius: 50%;
}

.logo-sec>span {
    font-size: 20px;
    padding: 0 12px;
}

.logo-sec>hr {
    width: 3px;
    height: 35px;
    background-color: orangered;
    border: none;
    text-align: left;
}

#hamburger-menu {
    font-size: 25px;
    display: none;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 8%;
    font-size: 14px;
}

ul>li>a {
    text-decoration: none;
    color: white;
}

ul>li>a:hover {
    color: orangered;
}

.mobile-only {
    display: none;
}

.mobile-only button {
    font-size: 10px;
    font-weight: 500;
    padding: 8px 16px;
    border: none;
    background-color: orangered;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.btn-sec>.btn {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 24px;
    border: none;
    background-color: orangered;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.banner-container {
    position: absolute;
    width: 60%;
    top: 16%;
    left: 17%;
    color: white;
    padding: 0 18px;
}

.banner-content h1 {
    font-size: 3.5rem;
    font-weight: 900;
}

.banner-content h2 {
    font-size: 25px;
    font-weight: 600;
    margin: 20px 0;
}

.banner-content h3 {
    font-size: 22px;
    font-weight: 500;
}

.banner-content hr {
    width: 24%;
    height: 4px;
    margin-top: 10px;
    background-color: orangered;
    border: none;
}

.card-sec {
    width: 80%;
    margin: auto;
    padding: 0 20px;
}

.card-header {
    text-align: center;
}

.h1-wrapper {
    position: relative;
    display: inline-block;
}

.h1-wrapper>h1 {
    font-size: 40px;
    font-weight: 900;
    padding-top: 20px 5px 0 0;
}

.h1-wrapper>hr {
    position: absolute;
    top: 100%;
    left: 0;
    width: 18%;
    height: 5px;
    background-color: orangered;
}

.card-sec p {
    font-size: 24px;
    font-weight: 500;
    padding: 7px 0;
}

.card-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
}

.card {
    width: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    margin-top: 20px;
}

.card>.card-img {
    width: 64px;
    margin: auto;
}

.card-img>img {
    width: 100%;
    max-width: 64px;
    object-fit: cover;
}

.card>h1 {
    font-size: 24px;
    margin: 16px 0;
}

.card>p {
    font-size: 16px;
    margin-bottom: 20px;
}

.card:hover {
    background-color: orangered;
    color: aliceblue;
}

.card:hover>img {
    color: aliceblue;
}

.card:hover>a {
    visibility: visible;
    text-decoration: none;
}

.card>a {
    visibility: hidden;
    padding: 10px 3rem;
    border-radius: 20px;
    background-color: orangered;
    color: white;
    border: 1px solid white;
}

.card>a:hover {
    background-color: rgb(4, 4, 98);
}

.QA-sec {
    width: 80%;
    padding: 20px;
    margin: auto;
}

.QA-header {
    display: flex;
    justify-content: center;
}

.QA-header>.QA-wrapper {
    display: inline-block;
    position: relative;
}

.QA-header>.QA-wrapper>h1 {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 5px;
}

.QA-header>.QA-wrapper>hr {
    position: absolute;
    top: 100%;
    left: 0;
    width: 22%;
    height: 7px;
    background-color: orangered;
}

.QA-sec>p {
    font-size: 24px;
    text-align: center;
    margin: 20px 0;
}

.QA-list>li>p {
    font-size: 20px;
    padding: 10px;
}

.QA-list>li::marker {
    color: orangered;
    font-size: larger;
}

.QA-list>li>p>span {
    font-weight: 700;
}

.client-sec {
    width: 80%;
    padding: 20px;
    margin: auto;
}

.client-heading {
    display: flex;
    justify-content: center;
}

.client-wrapper {
    display: inline-block;
    position: relative;
}

.client-wrapper>h1 {
    font-size: 40px;
    font-weight: 900;

}

.client-wrapper>hr {
    position: absolute;
    top: 100%;
    left: 0;
    width: 35%;
    height: 7px;
    background-color: orangered;
}

.client-logo-sec {
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5%;
}

.client-logo {
    width: 270px;
    margin: 10px;
}

.client-logo>img {
    width: 100%;
    max-width: 270px;
}

.form-sec {
    width: 100%;
    padding: 20px;
    background-color: orangered;
    color: white;
}

.form {
    width: 80%;
    margin: auto;
    text-align: center;
}

.form>h1 {
    font-size: 38px;
    font-weight: bold;
    margin: 20px auto;
}

.form>p {
    font-size: 18px;
    margin: 20px;
}

.form-sec .form-inp {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 20px;
    padding: 10px;
}

.form-inp>input {
    width: 100%;
    padding: 14px;
    border-radius: 20px;
    border: none;
}

.form-inp>input:focus {
    outline: none;
}

.form-inp>textarea {
    width: 100%;
    border-radius: 20px;
    padding: 10px;
}

.form-inp>textarea:focus {
    outline: none;
}

.form button {
    background-color: rgb(3, 3, 92);
    color: white;
    padding: 14px 3rem;
    border-radius: 25px;
    border: none;
    font-size: 20px;
    margin: 20px 0;
}

.form button:hover {
    background-color: rgb(43, 43, 154);
}

.footer-sec {
    width: 100%;
    background-color: rgb(8, 8, 117);
    color: white;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-container {
    width: 70%;
    padding: 40px 8px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-logo-sec {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.footer-logo-sec>img {
    width: 100%;
    max-width: 65px;
    object-fit: cover;
    background: white;
    border-radius: 50%;
}

.footer-logo-sec>span {
    font-size: 20px;
    cursor: pointer;
    text-wrap: nowrap;
    padding-left: 5px;
}

.social-logo-sec {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-social {
    width: 50px;
}

.logo-social>img {
    width: 100%;
    max-width: 50px;
    border-radius: 50%;
    background-color: aliceblue;
    cursor: pointer;
}

svg {
    color: white;
}

.footer-ourServices,
.footer-contact {
    margin: 15px 10px;
}

.footer-ourServices>p {
    font-size: 22px;
    margin: 0 0 8px;
    font-weight: 700;
    color: white;
}

.footer-ourServices>ul {
    padding-left: 17px;
}

.footer-ourServices>ul>li {
    text-decoration: none;
    font-size: 16px;
    padding: 4px;
}

.footer-ourServices>ul>li::marker {
    font-size: larger;
    color: orangered;
}

.footer-contact>h1 {
    font-size: 22px;
    font-weight: 600;
    padding: 7px 0;
}

.footer-contact>p {
    font-size: 16px;
}

.footer-info {
    width: 90%;
    margin: auto;
    border-top: 1px solid white;
}

.footer-info>p {
    padding: 2.5rem;
    text-align: end;
}

@media (max-width:767px) {

    .header-sec .btn-grp,
    .btn-sec {
        display: none;
    }

    .navbar {
        justify-content: space-between;
        align-items: center;
    }

    .logo-sec {
        justify-content: flex-start;
        padding-left: 0px;
    }

    .logo-sec>img {
        max-width: 40px;
    }

    .logo-sec>span {
        font-size: 14px;
        padding: 0 8px;
    }

    .logo-sec>hr {
        height: 30px;
    }

    .nav-links {
        right: 3% !important;
        font-size: 10px;
    }

    .btn-sec>.btn {
        font-size: 12px;
        padding: 8px 14px;
        border: none;
        background-color: orangered;
        border-radius: 20px;
        color: white;
        cursor: pointer;
    }

    .header-sec .btn-grp {
        display: none;
    }

    .header .banner-container {
        width: 80%;
        left: 10%;
        padding: 0 5px;
    }

    header .banner-content h1 {
        font-size: 2rem;
    }

    header .banner-content h2 {
        font-size: 22px;
        margin: 10px 0;
    }

    header .banner-content h3 {
        font-size: 20px;
        margin: 10px 0;
    }

    .mobile-only {
        display: block;
    }

    .card>a {
        padding: 8px 1.7rem;
        font-size: 10px;
    }

    .form-sec .form-inp {
        flex-wrap: wrap;
    }

    .form button {
        padding: 12px 1rem;
        font-size: 12px;
        margin: 10px 0;
    }

    .footer-logo-sec>img {
        width: 100%;
        max-width: 40px;
    }

    .footer-logo-sec>span {
        font-size: 12px;
    }

    .social-logo-sec .logo-social {
        width: 30px;
    }

    .social-logo-sec img {
        width: 100%;
        max-width: 30px;
    }

    .footer-ourServices>p {
        font-size: 18px;
    }

    .footer-ourServices>ul>li {
        text-decoration: none;
        font-size: 14px;
        padding: 4px;
    }

    .footer-contact>h1 {
        font-size: 18px;
    }

    .footer-contact>p {
        font-size: 12px;
    }

    .footer-info>p {
        padding: 1.5rem;
    }

}

@media (min-width:768px) {
    .form-inp {
        flex-wrap: nowrap;
    }
}

@media(max-width:1200px) {
    #hamburger-menu {
        display: block;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 70%;
        right: 40%;
        background-color: rgb(8, 8, 109);
        flex-direction: column;
        z-index: 1;
        padding: 10px;
        border-radius: 10px;
    }

    .nav-links>li {
        padding: 8px;
    }

    .nav-links.active {
        display: block;
    }

    .banner-container {
        top: 18%;
        left: 14%;
        padding: 0 15px;
    }

    .banner-content h1 {
        font-size: 2.5rem;
    }

    .banner-content h2 {
        font-size: 24px;
        margin: 15px 0;
    }

    .banner-content h3 {
        font-size: 20px;
        margin: 15px 0;
    }

    .form-inp {
        flex-direction: row;
    }
}